* {
    text-align: center;
}
input {
    text-align: left
}
.wrapper {
    width: 20em;
    margin:0 auto;
}
.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
