<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>catalogue-tvos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF17EE931E8E44D8003907D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF17EEA41E8E44D8003907D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF17EEAF1E8E44D8003907D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
